body {
  text-align: center;
  background: black;
  color: greenyellow;
}

body form {
  padding: 09%;
}

body #clique-aqui {
  background: #B22222;
}

.navbar {
  list-style: none;
  display: inline;
  text-align: end;

}