@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@1&family=Inter:wght@100;300;700&family=Rubik+Vinyl&display=swap" "https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@1&family=Inter:wght@100;300;700&family=Rubik+Vinyl&display=swap");

body {
  text-align: center;
  background: black;
  color: greenyellow;
  box-sizing: border-box;
  font-family: 'Rubik Vinyl', cursive;
}

ul {
  margin-top: auto;
  list-style: none;
  text-decoration: none;
  text-align: end;
  background: #B22222;
  width: 100%;
}


li {
  justify-content: space-between;
  display: inline-block;
  padding: 20px;
}

li.active,
li:hover {
  background: white;
  transition: .5s;
  opacity: 60%;
  cursor: pointer;
}

body form {
  padding: 09%;
}

body #clique-aqui {
  background: #B22222;
  cursor: pointer;
}